.container{
    color: #232129;
    padding: 50px ;
    direction: rtl;
}

nav{
    direction: rtl;
    margin: 3px 30px;
}

.nav-links {
  display: flex;
  list-style: none;
  padding-left: 0;
}
.nav-link-item {
  padding-right: 2rem;
}
.nav-link-text {
  padding: 10px;
  background-color: #d4d2d2;
  color: black;
  text-decoration: none;
}

.nav-link-text:hover{
    background-color: #969696;
}

.site-title {
  text-align: center;
  font-size: 3rem;
  color: gray;
  font-weight: 700;
  margin: 3rem 0;
}
